{% extends 'base.html.twig' %}

{% block title %}Stockflow{% endblock %}

{% block main %}
<div>
      <div>
        <div>
          <div>
            <h2>¡HOLA! ¿EN QUE PODEMOS AYUDARTE?</h2>
          </div>
        </div>
        <div>
          <div>
            <input placeholder="Buscar" type="text">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <div>
          <div>
            <h2>Guías para empezar</h2>
            <button>
              <i class="fa-solid fa-less-than"></i>
              Descubre todos los temas
            </button>
          </div>
        </div>
        <div>
          <div>
            <div>
              <img src="./FAQS_files/imgPasos1.jpg" alt="imgPasos1">
              <a target="_blank" href="https://stockflow.daw.iesevalorpego.es/faqs/pdf/guia1%20-%20Gu%C3%ADa%20para%20configurar%20tu%20aplicaci%C3%B3n%20de%20manera%20r%C3%A1pida.pdf">
                <span>Guía para configurar tu aplicación de manera rápida</span>
              </a>
            </div>
          </div>
          <div>
            <div>
              <img src="./FAQS_files/imgPasos2.jpg" alt="imgPasos2">
              <a target="_blank" href="https://stockflow.daw.iesevalorpego.es/faqs/pdf/guia2%20-%20Optimiza%20la%20gesti%C3%B3n%20de%20tu%20almac%C3%A9n%20con%20estos%20consejos.pdf">
                <span>Optimiza la gestión de tu almacén con estos consejos.</span>
              </a>
            </div>
          </div>
          <div>
            <div>
              <img src="./FAQS_files/imgPasos3.jpg" alt="imgPasos3">
              <a target="_blank" href="https://stockflow.daw.iesevalorpego.es/faqs/pdf/guia3%20-%20Ajusta%20tu%20aplicaci%C3%B3n%20seg%C3%BAn%20tus%20necesidades.pdf">
                <span>Ajusta tu aplicación según tus necesidades</span>
              </a>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h2>Preguntas frecuentes</h2>
          </div>
        </div>
        <div>
          <div>
            <div>
              <h3>¿Cómo puedo agregar nuevos productos al inventario?</h3>
              <span>Desde el panel principal, selecciona "Inventario" y luego "Agregar producto". Completa la información requerida y guarda los cambios.</span>
            </div>
          </div>
          <div>
            <div>
              <h3>¿Cómo actualizo las existencias de un producto?</h3>
              <span>Accede al inventario, selecciona el producto y ajusta la cantidad en el campo correspondiente. Guarda los cambios.</span>
            </div>
          </div>
          <div>
            <div>
              <h3>¿Como puedo generar un reporte de inventario?</h3>
              <span>Desde el menú de reportes, tienes la posibilidad de generar documentos completos y detallados que proporcionan un análisis exhaustivo sobre el estado actual del inventario.</span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <h3>¿Cómo gestiono los pedidos pendientes?</h3>
              <span>Ve a la sección de "Pedidos", selecciona el pedido que esté pendiente y actualiza su estado según sea necesario.</span>
            </div>
          </div>
          <div>
            <div>
              <h3>¿Es posible controlar el acceso de los usuarios?</h3>
              <span>Sí, desde la configuración de usuarios puedes asignar roles y permisos específicos para cada usuario.</span>
            </div>
          </div>
          <div>
            <div>
              <h3>¿Cómo puedo integrar la aplicación con otros sistemas?</h3>
              <span>La aplicación soporta integraciones mediante API. Consulta la documentación técnica para más detalles.</span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <a href="https://stockflow.daw.iesevalorpego.es/faqs/faqs.html#">Ver Más</a>
          </div>
        </div>
      </div>
    </div>
  
{% endblock %}

    